<div class='container'>
	<h2>FACE: create a survey!</h2>
</div>

<%if @error_message%>
	<h3><%=@error_message%></h3>
<%end%>

<%@option_num = 0%>

<div class='container'>
	<form action='/create_survey' method='post' id="make_survey">
		<input type="text" name="title" placeholder="Survey Title" value="<%=@last_entered[:title] if @last_entered %>">
		<br><br>
		<input type='text' name='question[text]' placeholder='Survey Question' value="<%=@last_entered[:question][:text] if @last_entered %>">
		<br>
		<ul>
		<li><input type='text' name="option<%= @option_num += 1%>" placeholder='Survey Option' value="<%=@last_entered[:first_option] if @last_entered %>"></li>
		<li><input type='text' name="option<%= @option_num += 1%>" placeholder='Survey Option' value="<%=@last_entered[:second_option] if @last_entered %>"></li>
	</ul>
		<button id="add_response">new answer</button>
		<br><br>
		<button id="add_question">new question</button>
		<br><br>
		<input type='submit' value='Submit survey'>
	</form>
</div>
