<script>
$(document).ready(function () {
	$('#tab1').show();
	  $( "a" ).click(function() {
    // var hide_href = $(this).attr('href');
    var active_ref = $(".active").children().attr("href")
    $( ".active" ).removeClass("active");
    $(this).parent().addClass("active");
    var show_href = $(this).attr("href");

    $(".tab").hide();
    $(show_href).show();
  });
});
</script>
<body class='homepage'>
	<div id="user_greeting">
		<h1>Hello, <%= @user.user_name %>!</h1>
		<div  class='create_survey'><a href="/create_survey">Create a Sloth-Based Survey!</a></div>
	</div>
	<div class="container2">
		<ul class="tabs">
        <li class="active"><a href="#tab1">Sloth facts!</a></li>
        <li><a href="#tab2">Your surveys!</a></li>
        <li><a href="#tab3">Take a survey!</a></li>
    </ul>

    <div class="tab" id="tab1">
     <h2>Here are your surveys, Face.</h2>
			<div id="all_your_surveys">
				<ol>
				<%@user.authored_surveys.each do |survey|%>
          <li><%=survey.title%>
            <br><a href="#">Stats</a> | <a href="/edit_survey/<%= survey.id %>">Edit</a> | <a href="/delete_survey/<%= survey.id %>">Delete</a></li>
				<%end%>
				</ol>
			</div>
    </div>

    <div class="tab" id="tab2">
    		<button><a href="/update_user">Edit My User Info</a></button>
        <h2><%= @user.user_name %></h2>
	      <img src="../media/profile.jpg" class='profilePic'>
	      <p>Email: <%=@user.email%></p>
        <div class='info'>
        	<h3>Get to know <%=@user.user_name%>!</h3>
        	<p>About me:  <%= @user.about %></p>
        </div>
        <div class="profSurveys">
	        <p>Take one of <%= @user.user_name%>'s surveys'!</p>

					<ol>
					<%@user.authored_surveys.each do |survey|%>
						<li><a href='surveys/<%=survey.id%>'><%=survey.title%></a></li>
					<%end%>
					</ol>
				</div>
    </div>

    <div class="tab" id="tab2">
     <h2>Here are your surveys, <%=@user.user_name%>.</h2>
			<div id="all_your_surveys">
				<ol>
				<%@user.authored_surveys.each do |survey|%>
					<li><a href='edit_survey/<%= survey.id %>'><%=survey.title%></a></li>
				<%end%>
				</ol>
			</div>
    </div>

    <div class="tab" id="tab3">
        <h2>Take and View other surveys!</h2>
			<div id="other_surveys">
				<ol>
				<%Survey.all.each do |survey|%>
					<li><a href='surveys/<%=survey.id%>'><%=survey.title%></a></li>
				<%end%>
				</ol>
			</div>
    </div><br>

	</div>

	<img src="../media/headphone-sloth-transparent.png" class="headphone-sloth">
</body>

